*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteiner-flex{
    display: flex;
    gap: 2rem;
}
.conteiner-left{
    /* position: absolute; */
    background-image: url(/fondo.png);
    width: 41%;
    max-width: 41%;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo{
    /* position: relative; */
    width: 70%;
    margin: 0 auto;
    margin-top: 32.5vh;
}

/* contenedor derecho */
.conteiner-right{
    border: 1px solid red;
}
.logosmall{
    margin-top: 2rem;
}
.contenido{
    margin-top: 3rem;
    line-height: 1.5;
}
.contenido h1{
    color: #0F1419;
    font-size: 64px;
}
.contenido h2{
    color: #0F1419;
    margin-top: 4rem;
    font-size: 31px;
}